<!DOCTYPE html>
<html ng-app="calendarApp">
  <head>
    <meta charset="utf-8">
    <title>Angular Calendar</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript" src="js/angular-moment.min.js"></script>
    <script type="text/javascript" src="js/dateDataService.js"></script>
    <script type="text/javascript" src="js/currentDateService.js"></script>
    <script type="text/javascript" src="js/mainCtrl.js"></script>
  </head>
  <body ng-controller="MainCtrl as ctrl">
    <div class="container">
      <header class="main-date">
        <h1>{{ ctrl.month.monthName }} {{ ctrl.day }}, {{ ctrl.year }}</h1>
      </header>
      <div class="month-buttons">
        <md-button ng-click="ctrl.setMonth(0)">January</md-button>
        <md-button ng-click="ctrl.setMonth(1)">February</md-button>
        <md-button ng-click="ctrl.setMonth(2)">March</md-button>
        <md-button ng-click="ctrl.setMonth(3)">April</md-button>
        <md-button ng-click="ctrl.setMonth(4)">May</md-button>
        <md-button ng-click="ctrl.setMonth(5)">June</md-button>
        <md-button ng-click="ctrl.setMonth(6)">July</md-button>
        <md-button ng-click="ctrl.setMonth(7)">August</md-button>
        <md-button ng-click="ctrl.setMonth(8)">September</md-button>
        <md-button ng-click="ctrl.setMonth(9)">October</md-button>
        <md-button ng-click="ctrl.setMonth(10)">November</md-button>
        <md-button ng-click="ctrl.setMonth(11)">December</md-button>
      </div>
      <div class="calendar-container">
        <table class"calendar-table">
          <thead>
            <tr>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="week in ctrl.months[ctrl.month.monthNum].weeks">
              <td ng-repeat="day in week track by $index" ng-click="ctrl.setDay(day)">
                <div class="day" ng-class="{'has-events': day.events.length > 0}">
                  {{ day.day_num }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <div class="event-container">
            <h2>{{ ctrl.month.monthName }} {{ ctrl.day }} Events</h2>
            <ul ng-show="ctrl.dayObj.events.length > 0">
              <li ng-repeat="event in ctrl.dayObj.events">{{ event }}</li>
            </ul>
            <h4 ng-hide="ctrl.dayObj.events.length > 0">No Events</h4>
          </div>
          <div class="event-container-edit">
            <h2>Add an Event</h2>
            <form ng-submit="ctrl.createDay()">
              <input type="text" ng-model="ctrl.event">
              <input type="submit" value="Add Event">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
