.container {
  margin: 0 auto;
  max-width: 960px;
}
.month-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.main-date {
  display: flex;
  align-items: center;
  background-color: #00cccc;
  height: 100px;
}
.main-date h1 {
  margin: 0 0 0 20px;;
}
.main-date h3 {
  margin: 0 0 0 20px;;
}
.day {
  font-size: 20px;
}
table {
  width: 100%;
}
th {
  width: 120px;
}
td:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.has-events {
  color: red;
}
.event-container {
  display: flex;
  margin-top: 30px;
}
.event-container-edit {
  margin-left: 60px;
}
.not-in-month {
  color: #d1d1d1;
}
